body {
  /* background-color: #e1edf5;
  color: ; */
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select:focus {
  outline: none;
}
.custom-select {
  position: relative;
}
.custom-select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
}
option {
  padding: 0.5rem;
}
.input-class {
  width: 100px;
}

.input-class::placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

/* Ẩn thanh cuộn nhưng vẫn cho phép scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
